<div class="content">

    <h1 mat-dialog-title>
        <fa-icon class="icon-title" [icon]="faUserPlus"></fa-icon>
        Добавить клиента
    </h1>
    <div mat-dialog-content class="forms">
        <mat-form-field>
            <mat-label>Имя</mat-label>
            <input matInput required [(ngModel)]="data.firstName" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Фамилия</mat-label>
            <input matInput [(ngModel)]="data.lastName" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Дата рождения</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="data.birthday">
            <mat-hint>{{getDateFormatString()}}</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Телефон</mat-label>
            <input required matInput type="text" mask="(000) 000-000" [(ngModel)]="data.phone"/>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Комментарии</mat-label>
            <textarea matInput [(ngModel)]="data.description"></textarea>
        </mat-form-field>
    </div>
    <div mat-dialog-actions align="end">
        <button mat-button (click)="onNoClick()">Отменить</button>
        <button [disabled]="!isValid()" mat-button [mat-dialog-close]="data" color="primary" cdkFocusInitial>Ок</button>
    </div>

</div>