<div class="content">

    <div class="display-date">
        <span>{{ fullDate }}</span>
    </div>

    <div class="top-container">
        <div class="info">
            <h1 class="title"><fa-icon class="icon-title" [icon]="faAddressBook"></fa-icon>Записи</h1>
            <mat-form-field class="search my-mat-form-field-density-5">
                <!--<mat-label>Поиск</mat-label>-->
                <input class="input-search" matInput (keyup)="applyFilter($event)" placeholder="Поиск" #input>
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>

        <button mat-fab extended class="add-btn" color="primary" (click)="openDialog()">
            <mat-icon>add</mat-icon>
            <!--<fa-icon class="icon-btn" [icon]="faPlus"></fa-icon>-->
            Добавить
        </button>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef> Время </th>
            <td mat-cell *matCellDef="let element"> {{element.time | date: 'dd.MM.yyyy HH:mm'}} </td>
        </ng-container>

        <ng-container matColumnDef="client">
            <th mat-header-cell *matHeaderCellDef> Клиент </th>
            <td mat-cell *matCellDef="let element">
                {{getClientById(element.clientId)?.firstName}}
                <small>{{getClientById(element.clientId)?.phone}}</small>
            </td>
        </ng-container>

        <ng-container matColumnDef="service">
            <th mat-header-cell *matHeaderCellDef> Услуга </th>
            <td mat-cell *matCellDef="let element"> {{getServiceById(element.serviceId)?.title}} </td>
        </ng-container>

        <ng-container matColumnDef="staff">
            <th mat-header-cell *matHeaderCellDef> Мастер </th>
            <td mat-cell *matCellDef="let element">
                <span *ngIf="!getMasterById(element.staffId)?.firstName">{{getMasterById(element.staffId)?.login}}</span>
                <span *ngIf="getMasterById(element.staffId)?.firstName">{{getMasterById(element.staffId)?.firstName}}</span>
                &nbsp;
                <span *ngIf="getMasterById(element.staffId)?.lastName">{{getMasterById(element.staffId)?.lastName}}</span>

                {{element.phone}}
            </td>
        </ng-container>


        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Комментарии </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>  </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item color="info" (click)="openDialog(element)">
                        <mat-icon>edit</mat-icon> Изменить
                    </button>
                    <button mat-menu-item color="info">
                        <mat-icon>close</mat-icon> Закрыть
                    </button>
                    <button mat-menu-item color="warn" (click)="deleteVisit(element)">
                        <mat-icon>delete</mat-icon> Удалить
                    </button>
                </mat-menu>
            </td>
        </ng-container>

        <tr class="row-title" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="example-element-row" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>
